[package]
name = "chalk-parse"
version = "0.1.0"
authors = ["Niko Matsakis <niko@alum.mit.edu>"]
build = "build.rs" # LALRPOP preprocessing

# Add a dependency on the LALRPOP runtime library:
[dependencies.lalrpop-util]
version = "0.12.1"
regex = "0.2.0"
 
[build-dependencies.lalrpop]
version = "0.13.1"

[dependencies]
error-chain = "0.7.2"
lalrpop-intern = "0.12.1"
